<header id="page-header">
  <div id="masthead">
    <h1><%= link_to 'Flix', root_path %></h1>
  
<nav>
  <p>
  <%= link_to 'Tweet Me!', 'https://twitter.com/perezdr', :target => "_blank" %>
  </p>
  </nav>
  </div>
  
</header>
